## Template per applicare REGEX su Pandas

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/regex.jpg'>

In [12]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

data = {'Text': ["Hello, 123 @!£$%' \''s    \n hi", "456 World!", "789 IFOAloveU"," ciao http://www.google.com"]}
df = pd.DataFrame(data)
df

                             Text
0  Hello, 123 @!£$%' ''s    \n hi
1                      456 World!
2                   789 IFOAloveU
3      ciao http://www.google.com

In [19]:
# Definisci i pattern della REGEX
df = pd.DataFrame(data)

patterns = {
            # r'\d+': '',             # remove digits (numeri)
            # r'[^\w\s]': '',         # remove punteggiatura e simboli ...,'@!£$%
            # r'\b\w{1,2}\b':'',      # remove all token less than2 characters
            # r'(http|www)[^\s]+':'', # remove website
            # r'\s+': ' '             # sostituisce tutti i multipli spazi con uno spazio
            }

def clean_column(df, column, patterns):
    for pattern, replacement in patterns.items():
        df[column] = df[column].str.replace(pattern, replacement)
        df[column] = df[column].str.lower() # applica il lower
    return df

#solo in preview
clean_column(df, 'Text', patterns)

                          Text
0  hello,  @!£$%' ''s    \n hi
1                       world!
2                    ifoaloveu
3   ciao http://www.google.com

In [9]:
#applichiamo la modifica
df = clean_column(df, 'Text', patterns)
df

         Text
0      hello
1       world
2   ifoaloveu
3       ciao