## Esercizio Classificazione NLP1

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

path = 'https://frenzy86.s3.eu-west-2.amazonaws.com/python/data/NLPes1.csv'

In [6]:
df = pd.read_csv(path)
df

                                                  text  class
0    b'insane ( but inspired ) musical about alferd...      1
1    b'written by david j . schow and john shirley ...      0
2    b'miramax " disinvited " on-line media from pr...      0
3    b'in " the astronaut\'s wife , " charlize ther...      0
4    b'one of the 90s\' most unwelcome thriller tre...      0
..                                                 ...    ...
408  b'hav plenty , as we are told in the beginning...      0
409  b'brian de palma\'s snake eyes stars nicolas c...      0
410  b'contact ( pg ) there\'s a moment late in rob...      1
411  b"this is a film that i was inclined to like a...      0
412  b'any remake of an alfred hitchcock film is at...      0

[413 rows x 2 columns]